{% extends 'store/base.html' %}

{% load static %}

{% block css %} <link href="{% static 'css/contact.css' %}" rel="stylesheet"> {% endblock %}
<title>{{ title }}</title>

{% block content %} 

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
    					<h1 class="mt-2 text-center text-white">Контакты:</h1>
                       
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                     <a href="https://t.me/honeybadgerteambot">
                                        <i class="fab fa-telegram fa-3x" style="color: #4a658b;"></i>
                                    </a>
                                    <a href="https://vk.com/team_honey_badgers">
                                        <i class="fab fa-vk fa-3x" style="color: #4a658b;"></i>
                                    </a>

                                   
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}