{% extends 'store/base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<section>
    <!-- Основной контейнер для выравнивания блоков -->
    <div class="main-container">
        <!-- Контейнер для блока с погодой -->
        <div class="weather-container">
    {% if weather_info %}
        <div class="weather-card">
            <h2>{{ weather_info.city }}</h2>
            <img src="http://openweathermap.org/img/wn/{{ weather_info.icon }}@4x.png" alt="Weather Icon" class="weather-icon">
            <p class="temperature">{{ weather_info.temperature }}°C</p>
            <p class="wind">Ветер: {{ weather_info.wind_speed }} m/s {{ weather_info.wind_direction }}</p>
            <p class="humidity">Влажность: {{ weather_info.humidity }}%</p>
            <p class="pressure">Pressure: {{ weather_info.pressure }} mmHg</p>
            <p class="precipitation">Precipitation: {{ weather_info.precipitation }}</p>
            
            <a href="{% url 'weather_index' %}">
                        <i class="fab fa-brands fa-sellsy fa-1x" style="color: #0e59f0;"> 
                            
                                Глянь погоду перед выходом.</i>
                                
                    </a>
            
        </div>
    {% else %}
        <p>Weather data is not available.</p>
    {% endif %}
</div>

        <!-- Контейнер для текста о команде -->
        <div class="team-container">
            <h1 class="mt-2 text-center text-white">Медоеды</h1>
            <div class="mt-2 text-center text-white">
                <p>
                    Привет, мы страйкбольная команда Медоеды🤝<br>
                    Несёмся ураганом🌪 и несём все прелести страйкбола в массы.<br>
                    У нас получилось собрать вокруг себя единомышленников, боевых товарищей и просто хороших людей, которые полностью отдают себя на играх, да и в жизни мы тоже стараемся помогать друг другу.<br>
                    Ведь страйкбол-это игра друзей, а друзья и товарищи не ограничиваются играми.<br>
                    В нашей группе вы сможете увидеть различные фотографии и видео с наших игр.<br>
                    Нас немного, но нам пох..пофиг.<br>
                    Мы ведь МЕДОЕДЫ💪 С нами не справятся, нами подавятся.<br>
                    Шел июнь 2023 года, понемногу команда начинала шуметь🔥<br>
                    Здесь мы немного расскажем и покажем себя.<br>
                    А также у нас есть свой шоп, где вы можете также выкладывать свои товары.
                </p>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}