{% extends 'store/item.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" id="success-message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="mt-3 mb-3">Профиль</h4>
            <div class="profile-container">
                <!-- Аватарка слева -->
                <div>
                    <img class="profile-avatar"
                         src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/users/default_avatar.jpg' %} {% endif %}"
                         alt="Аватар пользователя">
                </div>

                <!-- Информация о пользователе под аватаркой -->
                <div class="profile-info">
                    <div class="profile-details">
                        <label>Имя:</label>
                        <p>{{ user.first_name }}</p>
                    </div>
                    <div class="profile-details">
                        <label>Фамилия:</label>
                        <p>{{ user.last_name }}</p>
                    </div>
                    <div class="profile-details">
                        <label>Имя пользователя:</label>
                        <p>{{ user.username }}</p>
                    </div>
                    <div class="profile-details">
                        <label>Электронная почта:</label>
                        <p>{{ user.email }}</p>
                    </div>
                </div>

                <!-- Кнопки справа -->
                <div class="profile-buttons">
                    <a href="{% url 'store:basket' %}" class="btn-custom">Перейти в корзину</a></br>
                    <a href="{% url 'users:edit_profile' %}" class="btn-custom">Редактировать профиль</a></br>
                    <a href="{% url 'store:orders' %}" class="btn-custom">Мои заказы</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}