{% extends 'store/base.html' %}

{% load static %}
{% block css %}
    <link href="{% static '/css/products.css' %}" rel="stylesheet">
    <style>
        /* Стили для карточек альбомов */
        .album-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.2s ease-in-out;
            height: 250px; /* Уменьшенная высота карточки */
            display: flex;
            flex-direction: column;
        }

        .album-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-img-top {
            width: 100%;
            height: 150px; /* Уменьшенная высота изображения */
            object-fit: cover; /* Растягиваем изображение на всю область */
        }

        .card-body {
            padding: 10px; /* Уменьшенный отступ */
            flex-grow: 1; /* Растягиваем тело карточки на оставшееся пространство */
        }

        .card-title {
            font-size: 1rem; /* Уменьшенный размер шрифта */
            margin-bottom: 5px; /* Уменьшенный отступ */
        }
    </style>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Боковая панель с категориями -->
        <div class="col-lg-3">
            <h1 class="my-4 text-white">Альбомы:</h1>
            <div class="list-group">
             
                    {% for category in categories %}
                        <a href="{% url 'category_detail' category %}" class="list-group-item">{{ category }}</a>
                    {% endfor %}
              
            </div>
        </div>

        <!-- Основной контент с постами -->
        <div class="col-lg-9">
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="album-card">
                            <a href="{% url 'detail' post.id %}">
                                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
